<h3 class="pt-4 px-4">Create a Post</h3>
<form method="POST" action="/post/create" id="create_posts" class="py-4 px-4">
    <%= token_tag %>">
    <div class="form-group">
        <label for="title">Title:</label>
        <input name="title" type="string" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="image_url">Image_url:</label>
        <input name="image_url" type="string" class="form-control">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea name="content" type="string" class="form-control"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary my-5">Submit</button>
</form>
<li><%= link_to 'Volver', root_path %></li>